@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@font-face {
    font-family: 'MaximianRegular';
    src: url(Diseños/Fonts/maximian/MaximianDemoRegular.ttf);
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-bg: #050505;
    --secundary-bg: #222222;
    --main-color: #00FF57;
    --outline-color: #04C446;
    --color-text: #ffffff;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg);
}

/* Nav */

.nav {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.nav a {
    margin-top: 16px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    padding: 14px 16px;
}
.nav-logo{
    font-family: 'MaximianRegular';
    display: flex;
    align-items: center;
    color: var(--color-text);
    
}
.nav-logo-img{
    height: 45px;
}
.nav-btn{
    border: var(--outline-color) solid 1px;
    padding: 15px 20px;
    color: var(--outline-color);
    position: absolute;
    right: 50px;
}

/* Content */
.content{    
    width: calc(100vw - 2em);
    margin: 0 auto;
}

/* Footer */
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{

    padding: 30px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: var(--color-text);
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--main-color);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: var(--color-text);
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: var(--color-text);
	padding-left: 8px;
}


/* Media Query */
@media (max-width: 767px) {
    .nav a{
        font-size: 18px;
    }
    .nav-logo-img{
        height: 35px;
    }
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width: 574px){
    .nav a{
        font-size: 14px;
    }
    .nav-btn{
        right: 24px;
    }
    .footer-col{
        width: 100%;
    }
}

